body {
  font-family: roboto;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
}

.row {
  --bs-gutter-x: 0rem;
  margin-left: 0em;
  margin-right: 0em;
  width: 100%;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}

.menu-nav {
  color: #fff;
  background-color: #000522;
  padding-left: 5%;
  background-position-y: center;
  background-position-x: center;
  width: 100%;
  padding-top: 1.5vw;
  padding-bottom: 0.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .menu-nav {
    padding-top: 0.5vw;
    padding-left: 11%;
  }
}
@media only screen and (max-width: 480px) {
  .menu-nav {
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    position: relative;
  }
}

.navbar-nav {
  margin: 0px 0px;
  margin-top: 0em;
  margin-left: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 480px) {
  .navbar-nav {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    background-color: #000522;
    display: block;
    left: -25em;
    top: 0em;
    padding: 1em;
  }
}

.navbar {
  border-radius: 0px;
  width: 94%;
}
@media only screen and (max-width: 767px) {
  .navbar {
    width: 98%;
  }
}

.carou {
  width: 100%;
  height: auto;
}

.logo {
  margin-top: -2em;
  padding-left: 0;
  padding-right: 0;
  margin-left: -1em;
  display: block;
  image-orientation: from-image;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .logo {
    width: 132px !important;
    margin-top: -1.5em;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    margin-top: -1em;
    width: 114px !important;
  }
}
@media only screen and (max-width: 480px) {
  .logo {
    margin-top: -0.5em;
    width: 128px;
    margin-left: -2.5em;
  }
}

.cerrar {
  display: none;
}
@media only screen and (max-width: 480px) {
  .cerrar {
    display: block;
    width: 25px;
    margin-top: 1em;
    float: right;
    height: auto;
  }
}

.menu {
  display: none;
}
@media only screen and (max-width: 480px) {
  .menu {
    width: 30px;
    display: block;
    position: absolute;
    top: 2em;
    left: 19em;
    height: auto;
  }
}

.titubarra {
  color: #fff;
  margin-left: 0em;
  text-decoration: none !important;
  font-size: 21pt;
  font-weight: 300;
  border: none;
  display: inline-block;
  list-style: none;
  margin-top: 1em;
  width: 6em;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .titubarra {
    font-size: 18pt;
    width: 5em;
  }
}
@media only screen and (max-width: 767px) {
  .titubarra {
    width: 5em;
    font-size: 14pt;
    margin-left: -0.5em;
  }
}
@media only screen and (max-width: 480px) {
  .titubarra {
    font-size: 14pt;
    margin-top: 0em;
    margin-left: 0.5em;
    width: 50% !important;
    text-align: left;
  }
}

.event {
  color: #fff;
  background-color: #000522;
  text-align: center;
  width: 7em;
  border: 1px solid #000522;
  font-size: 21pt;
  font-weight: 300;
  margin-top: 1em !important;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .event {
    font-size: 18pt !important;
    margin-top: 1.2em !important;
    width: 6em !important;
    margin-left: 0.5em;
  }
}
@media only screen and (max-width: 767px) {
  .event {
    font-size: 14pt;
    margin-left: 1em;
    text-align: left;
  }
}
@media only screen and (max-width: 480px) {
  .event {
    font-size: 14pt;
    margin-left: 0em;
    width: 50%;
    margin-top: 0em !important;
    text-align: left;
  }
}

.sub {
  color: #fff;
  font-size: 8pt;
  font-weight: 300;
  margin-right: 1em;
  background-color: #003366;
}

.carro {
  width: 30px;
  margin-top: 1em;
  margin-left: -0.5em;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .carro {
    margin-top: 1em;
  }
}
@media only screen and (max-width: 767px) {
  .carro {
    margin-top: 1em;
    margin-left: 0em;
  }
}
@media only screen and (max-width: 480px) {
  .carro {
    margin-left: 0em !important;
    margin-top: 0.5em;
  }
}

.form-control {
  border-radius: 1.25rem;
  font-size: 14px;
  color: #999;
  opacity: 1;
  width: 97% !important;
  margin-top: 2em;
  margin-left: 3em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .form-control {
    margin-left: -29em;
    margin-top: 7em;
    width: 233% !important;
  }
}
@media only screen and (max-width: 767px) {
  .form-control {
    margin-left: -1em;
    width: 77% !important;
  }
}
@media only screen and (max-width: 480px) {
  .form-control {
    width: 174% !important;
  }
}

.form {
  background-color: #000522;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  width: 58vw;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .form {
    display: inline-block;
  }
}
@media only screen and (max-width: 480px) {
  .form {
    margin-left: -13em;
    margin-top: 4em;
  }
}

.btn {
  border: none;
  border-radius: 1.25rem !important;
  font-size: 18pt;
  font-weight: 300;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 2em;
  color: #fff;
  background-color: #000522;
}
@media only screen and (max-width: 767px) {
  .btn {
    font-size: 3pt;
  }
}
@media only screen and (max-width: 767px) {
  .btn {
    width: 6em;
  }
}
@media only screen and (max-width: 480px) {
  .btn {
    font-size: 12pt;
  }
}

.imagebusca {
  width: 25px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin-right: 4em;
  margin-top: 1.5em;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .imagebusca {
    margin-top: 4em;
    margin-left: 0em;
  }
}
@media only screen and (max-width: 767px) {
  .imagebusca {
    margin-top: 7.5em;
    margin-left: 1em;
  }
}
@media only screen and (max-width: 480px) {
  .imagebusca {
    margin-left: 0em;
    margin-top: 3em;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 20px;
    width: 97%;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-nav > li > a {
    width: 64%;
  }
}

@media only screen and (max-width: 480px) {
  .carousel-inner > .item > img {
    width: 100%;
    height: 172px !important;
  }
}

.ti-event2 {
  color: #fff;
  background-color: #003366;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0em;
  margin-bottom: 0em;
  width: 100%;
  margin-left: 0em;
}

.ti-event {
  color: #fff;
  font-size: 25pt;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .ti-event {
    font-size: 18pt;
  }
}

.card {
  width: 100%;
  margin-top: 1em;
  height: auto;
}

.tarjeta {
  width: 100%;
  height: auto;
}

.nombre-evento {
  color: #000522;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
}

.lugar-evento {
  color: #000522;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
}

.botton-evento {
  color: #fff;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;
  background-color: #000522;
}
@media only screen and (max-width: 767px) {
  .botton-evento {
    width: 9.5em;
    font-size: 10pt;
  }
}
@media only screen and (max-width: 480px) {
  .botton-evento {
    margin-bottom: 0.5em;
    width: 99%;
  }
}

.footer-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
  text-decoration: none;
}

.footer-back {
  background-color: #000522;
  margin-left: 0em;
  margin-right: 1em;
  width: 100%;
  margin-top: 2em;
}
@media only screen and (max-width: 480px) {
  .footer-back {
    margin-top: 4em;
  }
}

.input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  width: 100%;
  padding: 6px 10px;
}

.face {
  width: 40%;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .face {
    width: 24%;
    margin-left: 5em;
  }
}
@media only screen and (max-width: 767px) {
  .face {
    margin-left: 5em;
    width: 26%;
  }
}
@media only screen and (max-width: 480px) {
  .face {
    width: 28%;
    margin-left: 4em;
  }
}

.tele {
  height: auto;
  width: 34%;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .tele {
    width: 67%;
    margin-left: -4em;
  }
}
@media only screen and (max-width: 767px) {
  .tele {
    width: 71%;
    margin-left: -4em;
  }
}

.footer-copy {
  background-color: #003366;
  color: #fff;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

/* **********************INDEX DETALLE********************************************************* */
.container {
  border-radius: 5px;
  padding: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    padding: 0px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 92% !important;
  }
}

.conta {
  background-color: #002A4A;
  width: 100%;
  margin-left: 0em;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  width: 89vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .image {
    padding-left: 7%;
  }
}

.subtitu2 {
  color: #000522;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 5%;
  width: 100%;
  margin-top: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .subtitu2 {
    margin-top: 0em;
  }
}
@media only screen and (max-width: 767px) {
  .subtitu2 {
    font-size: 21pt;
    width: 24em;
    margin-top: 0.5em;
  }
}
@media only screen and (max-width: 480px) {
  .subtitu2 {
    font-size: 18pt;
    padding-left: 5%;
    width: 12em;
  }
}

.container {
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.tit_art {
  color: #000522;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 5%;
  width: 100%;
  margin-top: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .tit_art {
    padding-left: 10%;
  }
}
@media only screen and (max-width: 767px) {
  .tit_art {
    font-size: 21pt;
    width: 24em;
  }
}
@media only screen and (max-width: 480px) {
  .tit_art {
    font-size: 18pt;
    padding-left: 12%;
    width: 13em;
  }
}

.image_conci {
  width: 296px;
  height: auto;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: -3em;
}
@media only screen and (max-width: 767px) {
  .image_conci {
    width: 234px !important;
    margin-left: 2em !important;
  }
}
@media only screen and (max-width: 480px) {
  .image_conci {
    margin-top: -1em;
    margin-bottom: 0em;
    width: 224px !important;
  }
}

.tit-det-event {
  color: #000522;
  font-size: 16pt;
  font-weight: 700;
  margin-right: 1em;
  text-align: center;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .tit-det-event {
    font-size: 12pt;
    margin-top: 0em;
  }
}
@media only screen and (max-width: 480px) {
  .tit-det-event {
    font-size: 12pt;
    width: 71%;
    margin-left: 2em;
    margin-top: 0.5em;
    text-align: left;
  }
}

.tit_Lugar {
  color: #000522;
  font-size: 24pt;
  font-weight: 500;
  margin-right: 1em;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .tit_Lugar {
    font-size: 16pt;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .tit_Lugar {
    width: 15em;
    margin-top: 0.1em;
    font-size: 16pt;
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .tit_Lugar {
    font-size: 18pt;
    margin-left: 0.5em;
  }
}

.tit_nom_event {
  color: #000522;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .tit_nom_event {
    font-size: 9pt;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .tit_nom_event {
    width: 15em;
    font-size: 10pt;
  }
}
@media only screen and (max-width: 480px) {
  .tit_nom_event {
    font-size: 10pt;
    margin-left: 1em;
  }
}

.btnregistro {
  color: #fff;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;
  background-color: #000522;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .btnregistro {
    margin-left: 3em;
    width: 45%;
  }
}
@media only screen and (max-width: 767px) {
  .btnregistro {
    width: 41% !important;
    text-align: center;
    margin-left: 3em;
  }
}
@media only screen and (max-width: 480px) {
  .btnregistro {
    margin-left: 2em;
  }
}

.titutabla {
  color: #000522;
  font-size: 14pt;
  font-weight: 400;
  padding-left: 5%;
  width: 58%;
}
@media only screen and (max-width: 767px) {
  .titutabla {
    font-size: 10pt;
  }
}
@media only screen and (max-width: 480px) {
  .titutabla {
    font-size: 12pt;
  }
}

.subtabla {
  color: #000522;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 1em;
}
@media only screen and (max-width: 767px) {
  .subtabla {
    font-size: 10pt;
  }
}
@media only screen and (max-width: 480px) {
  .subtabla {
    font-size: 10pt;
  }
}

.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  margin-left: 2em;
  width: 44%;
}

.otrosevent {
  color: #000522;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 2.5em;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .otrosevent {
    padding-left: 0em;
    font-size: 16pt;
    margin-left: 1em;
  }
}
@media only screen and (max-width: 767px) {
  .otrosevent {
    font-size: 18pt;
    width: 15em;
    margin-top: 0.5em;
  }
}
@media only screen and (max-width: 480px) {
  .otrosevent {
    width: 15em;
    font-size: 14pt;
    margin-left: -2.5em;
    margin-top: 2em;
  }
}

.imag_even_rel {
  width: 296px;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: 1em;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .imag_even_rel {
    width: 209px;
    margin-left: 0em !important;
  }
}
@media only screen and (max-width: 767px) {
  .imag_even_rel {
    width: 234px !important;
    margin-left: 7em !important;
  }
}
@media only screen and (max-width: 480px) {
  .imag_even_rel {
    margin-left: 0em !important;
    width: 230px !important;
  }
}

.pro-event {
  color: #fff;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;
}
@media only screen and (max-width: 767px) {
  .pro-event {
    width: 100%;
    margin-left: 6.5em;
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 480px) {
  .pro-event {
    margin-bottom: 1.5em;
    width: 11em;
    margin-left: 2em;
  }
}

.btn2 {
  width: 100%;
  background-color: #000522;
}
@media only screen and (max-width: 767px) {
  .btn2 {
    margin-left: 0em;
    width: 24em;
  }
}

/* **********************INDEX PREVENTA********************************************************* */
.ti-preve {
  color: #000522;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 5%;
  width: 100%;
  margin-top: 1em;
  text-align: left;
  margin-bottom: 1em;
}
@media only screen and (max-width: 767px) {
  .ti-preve {
    font-size: 20pt;
  }
}
@media only screen and (max-width: 480px) {
  .ti-preve {
    font-size: 18pt;
  }
}

.inf_event {
  padding-left: 5%;
  color: #000522;
  font-size: 18pt;
  font-weight: 300;
  width: 100%;
  text-align: left;
  margin-bottom: 1em;
}
@media only screen and (max-width: 767px) {
  .inf_event {
    font-size: 15pt;
  }
}
@media only screen and (max-width: 480px) {
  .inf_event {
    font-size: 15pt;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-left: 2em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .table {
    margin-left: 3em;
    width: 85%;
  }
}
@media only screen and (max-width: 767px) {
  .table {
    margin-left: 2em;
    width: 85%;
  }
}

.tit-tabl-event {
  color: #000522;
  font-size: 16pt;
  font-weight: 700;
  margin-right: 1em;
  text-align: center;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .tit-tabl-event {
    font-size: 12pt;
    margin-top: 0em;
  }
}
@media only screen and (max-width: 480px) {
  .tit-tabl-event {
    font-size: 12pt;
    width: 100%;
    margin-left: -8em;
    margin-top: -0.5em;
  }
}

@media only screen and (max-width: 767px) {
  .anchfila {
    width: 30em;
  }
}

.punto {
  color: rgba(0, 0, 0, 0);
}

.tit_det_tabla {
  color: #000522;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .tit_det_tabla {
    font-size: 9pt;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .tit_det_tabla {
    width: 15em;
    font-size: 10pt;
  }
}
@media only screen and (max-width: 480px) {
  .tit_det_tabla {
    font-size: 10pt;
    margin-left: 1em;
  }
}

.mas-menos {
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: #000522;
  font-size: 18pt;
  font-weight: 300;
  text-decoration: none !important;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .mas-menos {
    font-size: 13pt;
  }
}
@media only screen and (max-width: 767px) {
  .mas-menos {
    font-size: 12pt;
  }
}
@media only screen and (max-width: 480px) {
  .mas-menos {
    font-size: 12pt;
  }
}

.evento1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5em;
  width: 265px;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 9.5em;
  margin-top: 3em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .evento1 {
    margin-left: 14.5em;
    margin-top: 2em;
  }
}
@media only screen and (max-width: 767px) {
  .evento1 {
    margin-left: 3.5em;
  }
}
@media only screen and (max-width: 480px) {
  .evento1 {
    margin-top: 0em;
    padding-top: 0em;
    margin-left: 3em;
  }
}

.art_event {
  color: #000522;
  font-size: 24pt;
  font-weight: 500;
  margin-right: 1em;
  margin-top: 1em;
  width: 56% !important;
  margin-left: 1em;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .art_event {
    margin-left: 7em;
    width: 64%;
    font-size: 21pt;
    text-align: left;
    margin-top: 1em;
  }
}
@media only screen and (max-width: 767px) {
  .art_event {
    width: 78%;
    margin-top: 0.1em;
    font-size: 16pt;
    margin-left: 3em;
  }
}
@media only screen and (max-width: 480px) {
  .art_event {
    font-size: 18pt;
    margin-left: 0.5em;
    margin-left: 0em;
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }
}

.btncancelar {
  width: 8em;
  border-radius: 2em;
  margin-left: -4em;
  background-color: #000522;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .btncancelar {
    margin-left: 10em;
  }
}
@media only screen and (max-width: 767px) {
  .btncancelar {
    margin-left: 8em;
    margin-top: -1em;
  }
}
@media only screen and (max-width: 480px) {
  .btncancelar {
    margin-left: 1.5em;
  }
}

.btnconfir {
  color: #fff;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 10em;
  border-radius: 2em;
  margin-left: 11em;
  background-color: #000522;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .btnconfir {
    margin-left: 12em;
  }
}
@media only screen and (max-width: 767px) {
  .btnconfir {
    font-size: 13pt;
    margin-left: 6em;
  }
}
@media only screen and (max-width: 480px) {
  .btnconfir {
    margin-left: 5em;
    margin-bottom: -2em;
    width: 10em;
  }
}

/* **********************INDEX REGISTER********************************************************* */
.form-registro {
  border-radius: 1.25rem;
  font-size: 13pt;
  font-weight: 400;
  color: #000522;
  width: 99% !important;
  margin-top: 2em;
  border: 2px solid #abc5d4;
  height: 3em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .form-registro {
    margin-top: 1em;
    width: 85% !important;
    height: 3em;
  }
}
@media only screen and (max-width: 767px) {
  .form-registro {
    height: 3em !important;
  }
}
@media only screen and (max-width: 480px) {
  .form-registro {
    width: 84% !important;
    margin-left: 1em;
  }
}

.tit_col_regi {
  float: left;
  width: 25%;
  margin-top: 6px;
  color: #000522;
  font-size: 14pt;
  font-weight: 300 !important;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .tit_col_regi {
    width: 40%;
  }
}
@media only screen and (max-width: 480px) {
  .tit_col_regi {
    font-size: 10pt;
    width: 30%;
    margin-left: 2em;
  }
}

.tit_regis {
  max-width: 13em;
  margin-bottom: 4px;
  font-weight: 400;
  margin-left: 3em;
  margin-top: 2em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .tit_regis {
    margin-top: 1.5em;
  }
}
@media only screen and (max-width: 767px) {
  .tit_regis {
    margin-left: -3em;
    width: 10em;
  }
}

.col-holder {
  float: left;
  width: 75%;
  margin-top: 9px;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .col-holder {
    width: 49%;
  }
}
@media only screen and (max-width: 480px) {
  .col-holder {
    width: 74%;
    margin-top: -58px;
    margin-left: 7em;
  }
}

.placeho {
  font-size: 12pt;
  font-weight: 400;
  width: 100%;
  border-radius: 13px;
  border-radius: 1.25rem;
  font-size: 14px;
  color: #000522;
  opacity: 1;
  margin-top: 2em;
  border: 2px solid #abc5d4;
  height: 3em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .placeho {
    width: 86%;
    height: 3.5em;
  }
}
@media only screen and (max-width: 480px) {
  .placeho {
    width: 13em !important;
    margin-left: 1em;
    height: 3.5em;
  }
}

.btn-regis {
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .btn-regis {
    margin-bottom: -5em;
    background-color: #000522;
  }
}

.btn_compra {
  color: #fff;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 10em;
  border-radius: 2em;
  margin-left: 12em;
  margin-top: 1em;
  background-color: #000522;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .btn_compra {
    margin-top: 1em;
    width: 12em;
    margin-left: 11em;
  }
}
@media only screen and (max-width: 767px) {
  .btn_compra {
    margin-left: 8em;
    font-size: 13pt;
  }
}
@media only screen and (max-width: 480px) {
  .btn_compra {
    margin-left: 0em;
    width: 11em;
  }
}

@media only screen and (max-width: 480px) {
  .h4 {
    width: 80%;
  }
}

/* **********************INDEX TIKET********************************************************* */
.nom_art {
  color: #000522;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 5%;
  width: 100%;
  margin-top: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .nom_art {
    margin-top: 1em;
  }
}
@media only screen and (max-width: 767px) {
  .nom_art {
    font-size: 21pt;
    width: 24em;
    margin-top: 0.5em;
  }
}
@media only screen and (max-width: 480px) {
  .nom_art {
    font-size: 18pt;
    padding-left: 11%;
    width: 13em;
  }
}

.imaeven1 {
  width: 296px;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: 2em;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .imaeven1 {
    margin-left: 4em;
    width: 280px;
  }
}
@media only screen and (max-width: 767px) {
  .imaeven1 {
    width: 298px;
    margin-left: 1.5em;
  }
}
@media only screen and (max-width: 480px) {
  .imaeven1 {
    width: 275px;
    margin-left: 1.5em;
    margin-bottom: 8em;
  }
}

.tit_tique {
  color: #000522;
  font-size: 24pt;
  font-weight: 500;
  margin-right: 1em;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .tit_tique {
    font-size: 16pt;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .tit_tique {
    width: 15em;
    margin-top: 0.1em;
    font-size: 16pt;
  }
}
@media only screen and (max-width: 480px) {
  .tit_tique {
    font-size: 18pt;
    margin-left: 0.5em;
  }
}

.tik {
  margin-left: 7em;
  width: 100%;
  margin-top: 0em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .tik {
    margin-left: 0em;
    margin-top: 1em;
    width: 76%;
  }
}
@media only screen and (max-width: 767px) {
  .tik {
    margin-left: 3em;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .tik {
    margin-left: 0em;
    text-align: center;
    width: 100%;
    margin-top: -4em;
  }
}

.botton-tik {
  color: #fff;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 11em;
  margin-top: 0.5em;
  background-color: #000522;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .botton-tik {
    margin-left: -3em;
    margin-top: 0.5em;
    margin-left: -3em;
  }
}
@media only screen and (max-width: 767px) {
  .botton-tik {
    width: 10.5em;
    font-size: 12pt;
    margin-left: 22em;
    margin-top: -6em;
  }
}
@media only screen and (max-width: 480px) {
  .botton-tik {
    margin-bottom: 0.5em;
    width: 75%;
    margin-left: 2em;
  }
}

hr {
  margin: 2rem 0;
  color: inherit;
  background-color: #000522;
  border: 0;
  opacity: 0.25;
  size: 6;
  width: 100% !important;
  height: 1em;
  margin-top: -1em;
  margin-left: 0%;
}

.subtiket {
  color: #000522;
  font-size: 21pt;
  font-weight: 700;
  margin-right: 1em;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
@media only screen and (max-width: 480px) {
  .subtiket {
    font-size: 18pt;
  }
}

.evento_tik {
  color: #000522;
  font-size: 14pt;
  font-weight: 400;
  padding-left: 5%;
  width: 58%;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .evento_tik {
    font-size: 12pt;
    padding-left: 5em;
  }
}
@media only screen and (max-width: 767px) {
  .evento_tik {
    font-size: 10pt;
  }
}
@media only screen and (max-width: 480px) {
  .evento_tik {
    font-size: 12pt;
  }
}

.det_tik {
  color: #000522;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .det_tik {
    font-size: 12pt;
  }
}
@media only screen and (max-width: 767px) {
  .det_tik {
    width: 15em;
    font-size: 10pt;
  }
}
@media only screen and (max-width: 480px) {
  .det_tik {
    font-size: 10pt;
    margin-left: 1em;
  }
}

.cod-qr {
  width: 194px;
  margin-left: 1em;
  margin-top: 0em;
  height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .cod-qr {
    width: 144px;
    margin-top: 3em;
    margin-left: 2em;
  }
}
@media only screen and (max-width: 767px) {
  .cod-qr {
    width: 118px;
    margin-left: 8em;
    margin-top: 1em;
  }
}
@media only screen and (max-width: 480px) {
  .cod-qr {
    width: 138px;
    margin-left: 5em;
    margin-bottom: 0em;
    margin-top: 5em !important;
    position: relative;
  }
}