body {
  font-family: Roboto;
  padding-left: 2%;
  padding-right: 2%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.row {
  --bs-gutter-x: 0rem;
}

.navbarm {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.nav1 {
  background-color: #000522;
  padding-top: 2em;
  width: 100%;
  height: 9em;
  background-position-y: center;
  background-position-x: center;
  padding-left: 1%;
  padding-right: 14%;
}

.navbar-nav2 {
  margin-left: 7em;
  width: 100%;
  height: 22%;
}

.navbar {
  border-radius: 0px;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.nav2 {
  background-color: #003366;
  padding: 1em 10%;
  width: 100%;
  background-position-y: center;
  background-position-x: center;
  padding-left: 10%;
  padding-right: 10%;
  display: block;
  margin-bottom: 0px;
  margin-top: -21px;
}

.navbarb {
  position: relative;
  min-height: 10vw;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.footer-back {
  background-color: #000522;
  margin-left: 0em;
  margin-right: 1em;
  width: 100%;
  margin-top: 2em;
}

.footer-copy {
  background-color: #003366;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.footer-margen {
  padding-left: 36%;
}

.footer-link {
  color: #fff;
}

.list {
  margin-top: 5%;
}

.otrosevent {
  color: #000522;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 2.5em;
  width: 100%;
}

.footer-end {
  margin-left: 1em;
  margin-right: 1em;
  width: 97.5%;
  margin-top: 2em;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.conta {
  background-color: #002A4A;
  width: 100%;
  margin-left: 0em;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  height: auto;
}

.container {
  background-color: #fff;
}

.container {
  background-color: #fff;
}

.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  margin-left: 2em;
  width: 44%;
}

.vl {
  border-left: 6px solid #000522;
  height: 100px;
  margin-left: 2em;
}

.buscar {
  display: contents;
}

.form-control {
  border-radius: 1.25rem;
  background-color: #fff !important;
  font-size: 14px;
  color: #999;
  opacity: 1;
  width: 103%;
}

.form {
  background-color: #000522;
  width: 300px;
  height: 44px;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  margin-left: 3em;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  width: 100%;
  padding: 6px 10px;
}

.event {
  color: #fff;
  background-color: #000522;
  text-align: center;
  width: 100%;
  border: 1px solid #000522;
  font-size: 21pt;
  font-weight: 300;
}

hr {
  margin: 2rem 0;
  color: inherit;
  background-color: #000522;
  border: 0;
  opacity: 0.25;
  size: 6;
  width: 100em !important;
  height: 1em;
  margin-top: -1em;
  margin-left: 0%;
}

.vl2 {
  border-left: 6px solid #000522;
  height: 64px;
}

.imagebusca {
  width: 25px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin-right: 2em;
}

.image2 {
  width: 296px;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: 2em;
}

.image3 {
  width: 320px;
  margin-left: 5em;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  width: 89vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  height: auto;
}

.logo {
  margin-top: -2em;
  padding-left: 10%;
  padding-right: 10%;
  display: block;
  image-orientation: from-image;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cod-qr {
  width: 194px;
  margin-left: 0em;
  margin-right: 1em;
  margin-bottom: 5em;
}

.logo2 {
  display: block;
  width: 61%;
  margin-left: 2em;
}

.otraimage {
  width: 296px;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.carro {
  width: 30px;
}

.footer-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
}

.face {
  width: 40%;
}

.tele {
  width: 37%;
}

.card {
  width: 94%;
  margin-top: 1em;
}

.ti-event {
  color: #fff;
  font-size: 30pt;
  font-weight: 500;
}

.ti-event2 {
  color: #fff;
  background-color: #003366;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0em;
  margin-bottom: 0em;
  width: 100%;
  margin-left: 1em;
}

.ti-event3 {
  width: 100%;
}

.titubarra {
  color: #fff;
  margin-left: 1em;
  -webkit-text-decoration: NONE;
          text-decoration: NONE;
  font-size: 21pt;
  font-weight: 300;
  border: none;
  display: inline-block;
  list-style: none;
}

.titupagina {
  color: #fff;
  margin-left: 1em;
  width: 100%;
  font-size: 21pt;
  font-weight: 300;
  text-align: center;
}

.titutabla {
  color: #000522;
  font-size: 14pt;
  font-weight: 400;
  padding-left: 5%;
  width: 58%;
}

.nombre-evento {
  color: #000522;
  font-size: 14pt;
  font-weight: 400;
  text-align: center;
}

.lugar-evento {
  color: #000522;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
}

.subtitu {
  color: #fff;
  font-size: 24pt;
  font-weight: 300;
}

.subtitu2 {
  color: #000522;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 5%;
  width: 100%;
  margin-top: 1em;
}

.subtitu3 {
  color: #000522;
  font-size: 10pt;
  font-weight: 300;
  margin-right: 1em;
}

.subtitu4 {
  color: #000522;
  font-size: 16pt;
  font-weight: 700;
  margin-right: 1em;
  text-align: center;
  width: 50%;
}

.subtitu5 {
  color: #000522;
  font-size: 24pt;
  font-weight: 500;
  margin-right: 1em;
  width: 100%;
}

.subtitu6 {
  color: #000522;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 1em;
}

.sub {
  color: #fff;
  font-size: 12pt;
  font-weight: 300;
  margin-right: 1em;
  background-color: #003366;
}

.subtitu7 {
  color: #000522;
  font-size: 18pt;
  font-weight: 300;
  width: 55%;
}

.subtitu8 {
  color: #fff;
  font-size: 35pt;
  font-weight: 700;
}

.subtitu9 {
  margin-left: 26em;
  width: 37%;
  margin-top: -1em;
}

.subtiket {
  color: #000522;
  font-size: 21pt;
  font-weight: 700;
  margin-right: 1em;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.tik {
  margin-left: 7em;
}

.bar {
  margin-bottom: 0px !important;
  display: inline-block;
}

.botton-evento {
  color: #fff;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.btn {
  border: none;
  border-radius: 1.25rem !important;
  font-size: 18pt;
  font-weight: 300;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.btncontinuar {
  width: 12em;
  border-radius: 2em;
  margin-left: 3em;
}

.btn2 {
  margin-left: 56em;
  width: 22em;
}

.btnregister {
  width: 16em;
  border-radius: 2em;
  margin-left: 15em;
}

.btnregister2 {
  width: 8em;
  border-radius: 2em;
  margin-left: 9em;
  text-align: center;
}

.btn3 {
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: #000522;
  font-size: 18pt;
  font-weight: 300;
  text-decoration: none !important;
  text-align: center;
}

.btn-regis {
  text-align: center;
}

.compra-datos {
  padding-left: 5%;
  width: 100%;
}

.evento1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5em;
  padding-top: 2.5em;
  width: 222px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin-left: 4em;
  margin-top: 3em;
}

.placeho {
  height: 4em;
  width: 106%;
  border-radius: 13px;
  border-color: #9185853b;
  color: #999;
  opacity: 1;
  height: 4em;
}

.holder {
  height: 3.5em;
  border-radius: 6px;
  margin-top: -0.1em;
  height: 4em;
  width: 100%;
}

.lupa {
  margin-left: -5em;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-titulo {
  float: left;
  width: 25%;
  margin-top: 6px;
  color: #000522;
  font-size: 14pt;
  font-weight: 400;
}

.col-holder {
  float: left;
  width: 75%;
  margin-top: 9px;
}

.col-holder2 {
  float: left;
  width: 75%;
  margin-top: 6px;
  height: 4em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}