@font-face {
    font-family: 'NotoBold';
    src: url('../fonts/notosans-bold-webfont.eot');
    src: url('../fonts/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/notosans-bold-webfont.woff2') format('woff2'),
        url('../fonts/notosans-bold-webfont.woff') format('woff'),
        url('../fonts/notosans-bold-webfont.ttf') format('truetype'),
        url('../fonts/notosans-bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoItalic';
    src: url('../fonts/notosans-italic-webfont.eot');
    src: url('../fonts/notosans-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/notosans-italic-webfont.woff2') format('woff2'),
        url('../fonts/notosans-italic-webfont.woff') format('woff'),
        url('../fonts/notosans-italic-webfont.ttf') format('truetype'),
        url('../fonts/notosans-italic-webfont.svg#noto_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoRegular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
        url('../fonts/notosans-regular-webfont.woff') format('woff'),
        url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
        url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoLight';
    src:url('../fonts/notosans-light-webfont.woff2') format('woff2'),
        url('../fonts/notosans-light-webfont.woff') format('woff'),
        url('../fonts/notosans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}