$white-copy: #fff;
$nav-bg: rgba(53, 63, 70, .7);
$dark-light-bg: #353f46;
$light-blue: #4bcaff;
$visit-me-color: #06090b;


$blue-bg:#000522;
$light-blue:#003366;
$badground:#002A4A;
$texto:#fff;
$ligh:#85c7d7;
$margen:2rem;
$dark-bg: #000522;
$margen:2rem;
$font:roboto;