$blue-bg:#000522;
$light-blue:#003366;
$badground:#002A4A;
$texto:#fff;
$font: Roboto;
$ligh:#85c7d7;
body{
    font-family:$font;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: max-content;
   
}
.row{
    --bs-gutter-x: 0rem; 
}
.logo{
  margin-top: -2em;
  margin-left: 0%;
  image-orientation: from-image;
  align-items: center;
  

}
.titubarra{
  color:$texto;
  margin-left: 1em;
  text-decoration: NONE;
  font-size: 21pt;
 font-weight: 300;
 border: none;
  display: inline-block;
  list-style: none
}




.container-fluid{
  padding-right: 0px;
padding-left: 0px;
}





.navbarm {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.nav1{
    background-color: $blue-bg;  
  
    padding-top: 2em;
    width: 100%; 
    height: 9em;
    background-position-y: center;
    background-position-x: center;
    padding-left: 10%;
    padding-right: 10%;
   
}
.navbar-nav2{
    margin-left:7em;
    width: 100%;
    height: 22%;
  
}

.navbar {
    border-radius: 0px;
}


.carro{
    width:30px;
    
}

.mb-3{
  margin-bottom: 1rem !important;
}

 
 .nav2{
    background-color: $light-blue;  
    padding: 1em 10%;
    width: 100%; 
    background-position-y: center;
    background-position-x: center;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    margin-bottom:0px ;
    height: 50%;
    margin-top: -21px;
}
.navbarb {
  position: relative;
  min-height: 10vw;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
//***********fin nav
//***************************
.conta{
background-color:$badground;
width: 100%;
}

.image{
    display: flex;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 1269px;
    align-items: center;
    height: min-content;
    padding-left: 10%;
}
.container{
  background-color: $texto;
}
.container{
  background-color: $texto;
}
.subtitu{
  color: $texto;
  font-size: 24pt;
  font-weight: 300;
  
}
.subtitu8{
  color: $texto;
  font-size: 35pt;
  font-weight: 700;
  
}
.vl {
    border-left: 6px solid $blue-bg;
    height: 100px;
    margin-left: 2em;
  }
  .logo{
    padding-left: 10%;
    padding-right: 10%;
    display: block;
  }
  //************************titulo evento
  .ti-event{
      color:$texto;
      background-color: $blue-bg;
      text-align: center;
      padding-top:0.5em;
      padding-bottom:0.5em;
      font-size: 36pt;
      font-weight: 500;
       margin-left: 14px;
       width: 100%;
  }

  

  //***********************form evento
  .buscar{
    display: contents;
  }
  .imagebusca{
    width:25px; 
    align-self: auto;
    margin-right: 2em;
  }
.form-control{
    border-radius:1.25rem ;
}

.form {
  background-color: $blue-bg;
    width: 300px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $texto;
    margin-left: 3em;
  }
  input  {
    all: unset;
    font: 16px system-ui;
    color: $texto;
    width: 100%;
    padding: 6px 10px;
  }
  

  .event{
    color:$texto;
    background-color: $blue-bg;
    text-align: center;
    width: 100%;
    border: 1px solid $blue-bg;
    
    font-size: 21pt;
    font-weight: 300;
}
.ti-event2{
  color:$texto;
  background-color: $light-blue;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

hr {
  margin: 2rem 0;
  color: inherit;
  background-color: $blue-bg;
  border: 0;
  opacity: .25;
  size: 6;
  width: 81em;
  height: 1em;
  margin-top: -1em;
  margin-left: 1%;

}
//************************DEtalle
.container2 {
   display: flex;
   padding-left: 10%;
  padding-right: 10%;
  height: auto;
  
}
.image2{
  width: 296px;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: 2em;
}
.image3{
   width: 320px;
   margin-left: 5em;
}

.subtitu2{
  color: $blue-bg;
  font-size: 28pt;
  font-weight: 900;
  padding-left: 5%;
  width: 100%;
}
.subtitu3{
  color: $blue-bg;
  font-size: 10pt;
  font-weight: 300;
  margin-right: 1em;
}
.subtitu4{
  color: $blue-bg;
  font-size: 16pt;
  font-weight: 700;
  margin-right: 1em;
  text-align: center;
  width: 50%;
}
.titutabla{
  color: $blue-bg;
  font-size: 18pt;
  font-weight: 700;
  
  padding-left: 10%;
  width: 45%;
}

.subtitu5{
  color: $blue-bg;
  font-size: 24pt;
  font-weight: 500;
  margin-right: 1em;
  width: 100%;
}
.subtitu6{
  color: $blue-bg;
  font-size: 14pt;
  font-weight: 300;
  margin-right: 1em;
}
.subtitu7{
  color: $blue-bg;
  font-size: 18pt;
  font-weight: 300;
  margin-right: 1em;
  width: 55%;
}
.vl2 {
    border-left: 6px solid $blue-bg;
    height: 64px;
  }
  .logo2{
    display: block;
    width: 61%;
    margin-left: 2em;
  }
  .contain{
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    margin-left:2em;
    
    width: 44%;
}
.btn{
 border:none ;
 border-radius: 1.25rem;
 font-size: 18pt;
 font-weight: 300;
 padding-left: 1.5em;
padding-right: 1.5em;
}

//*********TAbla*****

//******************************Footer

.footer-back{
  background-color: $blue-bg;
  margin-left: 0em;
  margin-right: 1em;
  width: 100%;
  margin-top: 2em;
}
.footer-copy{
  background-color: $light-blue;
  color:$texto;
  text-align: center;
text-decoration: none;
}
.footer-margen{
   padding-left:36%;
   
}
.footer-link{
  color:$texto;
}
.footer-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
}

.face{
  width: 40%;
}

.tele{
  width: 37%;
}
.list{
  margin-top: 5%;

}
.otrosevent{
  color: $blue-bg;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 2.5em;
  width: 100%;
}
.otraimage{
  width: 296px;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.footer-end{
  margin-left: 1em;
  margin-right: 1em;
  width: 97.5%;
  margin-top: 2em;
}
//*************************Carusel
.bar{
  margin-bottom: 0px !important;
  display: inline-block;
}
//*******************TARJETAS
.nombre-evento{
  color: $blue-bg;
  font-size: 14pt;
  font-weight: 400;
  text-align: center;
}
.lugar-evento{
  color: $blue-bg;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
}
.botton-evento{
  color: $texto;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 100%;
  
}