$blue-bg:#000522;
$light-blue:#003366;
$badground:#002A4A;
$texto:#fff;
body{
    
    padding-left: 0%;
    padding-right: 0%;
    height: max-content;
   
}
.row{
    --bs-gutter-x: 0rem; 
}
.nav1{
    background-color: $blue-bg;  
    padding: 1em 10%;
    width: 100vw; 
    background-position-y: center;
    background-position-x: center;
    padding-left: 10%;
    padding-right: 10%;
   
}
.titubarra{
   color:$texto;
   padding: 1em;
   font-family: Roboto;
   display: inline-block;
   list-style: none
}
.carro{
    width:30px;
    margin-left: 30em;
}


 
 .nav2{
    background-color: $light-blue;  
    padding: 1em 10%;
    width: 100vw; 
    background-position-y: center;
    background-position-x: center;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
}
//***********fin nav
//***************************
.conta{
background-color:$badground;

}

.image{
    padding-left: 10%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.subtitu{
  color: $texto;
  
}
.vl {
    border-left: 6px solid $blue-bg;
    height: 100px;
  }
  .logo{
    padding-left: 10%;
    padding-right: 10%;
    display: block;
  }
  //************************titulo evento
  .ti-event{
      color:$texto;
      background-color: $blue-bg;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
      padding-top:0.5em;
      padding-bottom:0.5em;
  }
  //***********************form evento
  .buscar{
    display: contents;
  }
  .imagebusca{
    width:25px; 
    align-self: auto;
    margin-right: 2em;
  }
.form-control{
    border-radius:1.25rem ;
}

.form {
  background-color: $light-blue;
    width: 300px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $texto;
  }
  input {
    all: unset;
    font: 16px system-ui;
    color: $texto;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  

  .event{
    color:$texto;
    background-color: $light-blue;
    text-align: center;
    width: 130px;
    padding-top:0.5em;
    padding-bottom:0.5em;
    height: 44px;
    border: 1px solid $light-blue;
}
.ti-event2{
  color:$texto;
  background-color: $light-blue;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top:0.5em;
  padding-bottom:0.5em;
}
//************************Galery
.nombre-evento{
  text-align: center;
  color: black;
  font-family: Roboto;
}
.lugar-evento{
  text-align: center;
  color: black;
  font-family: Roboto;
}
.botton-evento{
  align-content: center;
  display: block;
  text-align: center;
  background-color: $light-blue;
  font-family: Roboto;
}

//******************************Footer
.footer-back{
  background-color: $blue-bg;
  color:$texto;
}
.footer-copy{
  background-color: $light-blue;
  color:$texto;
}
.footer-title{
  color:$texto;
  padding-left: 10%;
  text-decoration: none;
}
.footer-icon{
  width: 52px;
  margin-left: 71em;
  margin-top: -18em;
}
.footer-icon2{
  width:44px;
  margin-left: 71em;
  margin-top: -9em;
}
.list{
  margin-top: 5%;
}