@import 'fonts';
@import 'vars';
@import 'media-queries';

body{
  font-family:$font;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
 
}
.row{
  --bs-gutter-x: 0rem; 
  margin-left: 0em;
  margin-right: 0em;
  width: 100%;
}
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
 }
 
.menu-nav{
  color: $white-copy;
  background-color:$blue-bg;
  padding-left: 5%;
  background-position-y: center;
  background-position-x: center;
  width: 100%;
  padding-top: 1.5vw;
  padding-bottom: 0.5vw;
  @include respond-to($tablet-landscape){
    padding-top: 0.5vw;
    padding-left:11% ;
  }
  @include respond-to($phone){
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    position: relative;
  }
}

.navbar-nav{
  margin: 0px 0px;
  margin-top: 0em;
  margin-left: 0em;
display: flex;

@include respond-to($phone){
   position: absolute;
  width: 100%;
    height: auto;
    z-index: 2;
   background-color: $blue-bg;
   display: block;
   left: -25em;
   top:0em;
   padding: 1em;
   
  }
}
.navbar {
  border-radius: 0px;
  width: 99%;
}


.logo{
  margin-top: -1em;
  padding-left: 0;
  padding-right: 0;
  margin-left: -1em;
  display: block;
  image-orientation: from-image;
  align-items: center;

  @include respond-to($tablet-landscape){
    width: 132px !important;
    margin-top: -2em;
  }
  @include respond-to($tablet-portrait){
    margin-top: -4em;
    width: 132px !important;
  }
  
    @include respond-to($phone){
      margin-top: -0.5em;
      width: 128px; 
      margin-left: 1.5em;
    }
}
  .cerrar{
    display: none;
    @include respond-to($phone){
    display: block; 
    width: 25px;
    margin-top: 1em;
    float: right;  
  }
}
  .menu{
    display: none;
    @include respond-to($phone){
    width: 30px;
    display: block;
    position: absolute;
    top: 2em;
    left: 0em;
  }
}
.titubarra{
  color:$texto;
  margin-left: 0em;
  text-decoration: NONE;
  font-size: 21pt;
  font-weight: 300;
  border: none;
  display: inline-block;
  list-style: none;
  margin-top: 1em;
  
  @include respond-to($tablet-landscape){
    font-size: 18pt;
  }
  @include respond-to($tablet-portrait){
    width: 6em;
    font-size: 17pt;
  }
  @include respond-to($phone){
    font-size: 14pt;
    margin-top: 0em;
    margin-left:0.5em;
    width: 50%!important;
  }
}
.event{
  color:$texto;
  background-color: $blue-bg;
  text-align: center;
  width:7em;
  border: 1px solid $blue-bg;
  font-size: 21pt;
  font-weight: 300;
  margin-top: 1em !important;
  @include respond-to($tablet-landscape){
    font-size: 18pt!important;
    margin-top: 1.2em !important;
    width:6em!important;
  }
  @include respond-to($tablet-portrait){
    font-size: 17pt;
  }
  @include respond-to($phone){
    font-size: 14pt;
    margin-left: 0em;
   width: 55%;
    margin-top: 0em !important;
  }
}
.sub{
  color: $texto;
  font-size: 8pt;
  font-weight: 300;
  margin-right: 1em;
  background-color:$light-blue;
  }
.carro{
  width:30px;
  margin-top: 0.5em;
  margin-left: -0.5em;
  @include respond-to($tablet-landscape){
    margin-top: 1em;
  }
  @include respond-to($tablet-portrait){
    margin-top: 1em;
    margin-left: 0em;
  }
  @include respond-to($phone){
    margin-left: 0em!important;
}
  }

.form-control{
  border-radius:1.25rem ;
  font-size: 14px;
  color: #999;
  opacity: 1;
  width: 97%!important;
  margin-top: 2em;
  @include respond-to($tablet-landscape){
    margin-left: -29em;
    margin-top: 6em;
    width: 273% !important;
  }
  @include respond-to($phone){
    width: 54%!important;
  }
}
.form {
  background-color: $blue-bg;

  border-radius: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid $texto;
  width: 58vw;
  @include respond-to($tablet-landscape){
    display: inline-block;
  }
  @include respond-to($phone){
    margin-left: -4em;
  }
}
.btn{
  border:none ;
  border-radius: 1.25rem!important;
  font-size: 18pt;
  font-weight: 300;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 2em;
}
.imagebusca{
  width:25px; 
  align-self: auto;
  margin-right: 4em;
  margin-top: 1.5em;
  @include respond-to($tablet-landscape){
    margin-top: 3em;
    margin-left: 0em;
  }
  @include respond-to($phone){
    margin-left: 0em;
    margin-top: 1em;
  }
}
.navbar-nav > li > a {
  @include respond-to($phone){
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 20px;
    width: 97%;
  }
}
.nav-item{
  @include respond-to($phone){
  
  }
}
.navbar-nav > li > a {
  @include respond-to($phone){
  width: 64%;
  }
}

.carousel-inner>.item>img{
  @include respond-to($phone){
    height: 172px !important;
  }
}
.ti-event2{
  color:$texto;
  background-color: $light-blue;
  text-align: center;
  padding-top:0.5em;
  padding-bottom:0.5em;
  margin-top: 0em;
  margin-bottom: 0em;
  width:100%;
  margin-left:0em;
}
.ti-event{
  color:$texto;
  font-size: 25pt;
  font-weight: 500;
  @include respond-to($phone){
    font-size: 21pt; 
  }
}
.card{
  width: 100%;
  margin-top: 1em;
}
.nombre-evento{
  color: $blue-bg;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  

}
.lugar-evento{
  color: $blue-bg;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
}
.botton-evento{
  color: $texto;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;
  @include respond-to($tablet-portrait){
    width: 9.5em;
    font-size: 10pt;
  }  
    @include respond-to($phone){
      margin-bottom: 0.5em;
      width: 99%;
    }
}
.footer-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
}
.footer-back{
  background-color: $blue-bg;
  margin-left: 0em;
  margin-right: 1em;
  width: 100%;
  margin-top: 2em;
  @include respond-to($phone){
    margin-top: 4em;
  }
}
.input  {
  all: unset;
  font: 16px system-ui;
  color: $texto;
  width: 100%;
  padding: 6px 10px;
}
.face{
  width: 40%;
  @include respond-to($phone){
    width: 30%;
    margin-left: 4em;
  }
}
.tele{
  width: 37%;
}
.footer-copy{
  background-color: $light-blue;
  color:$texto;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
//FIN INDEX
//************************************************************************************************
//************************************************************************************************
//************************************************************************************************
/* **********************INDEX DETALLE********************************************************* */
//nav y Footer igual a Index
//SLIDER
.container {
  border-radius: 5px;
   padding: 20px;
   @include respond-to($tablet-landscape){
    padding: 0px;
  }
  @include respond-to($phone){
    width: 92%!important;
  }
}
.conta{
  background-color:$badground;
  width: 100%;
  margin-left: 0em;
  }
.image{
  display: flex;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  width: 89vw;
  align-items: center;
  padding-left: 5%;
 
  @include respond-to($tablet-landscape){
      padding-left: 7%;
  }
}
.subtitu2{
  color: $blue-bg;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 5%;
  width: 100%;
  margin-top: 1em;
  @include respond-to($tablet-landscape){
    margin-top: 0em;
  }
  @include respond-to($tablet-portrait){
    font-size: 21pt; 
    width:24em;
    margin-top: 0.5em;
  }
  @include respond-to($phone){
    font-size: 18pt; 
    padding-left: 5%;
    width: 12em;
  }
  
}
.container{
  background-color: $texto;
  @include respond-to($tablet-portrait){
    width: 100%;
  }
}
.tit_art{
  color: $blue-bg;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 5%;
  width: 100%;
  margin-top: 1em;
  @include respond-to($tablet-landscape){
    padding-left: 10%;
  }
  @include respond-to($tablet-portrait){
    font-size: 21pt; 
    width:24em;
  }
  @include respond-to($phone){
    font-size: 18pt; 
    padding-left: 12%;
    width: 13em;
  }
}
.image_conci{
  width: 296px;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: -3em;
  @include respond-to($tablet-portrait){
    width: 234px!important;
    margin-left: 2em!important;
  }
  @include respond-to($phone){
    margin-top: -1em;
    margin-bottom: 0em;
    width: 224px!important;
  }
}
.tit-det-event{
  color: $blue-bg;
  font-size: 16pt;
  font-weight: 700;
  margin-right: 1em;
  text-align: center;
  width: 50%;
  @include respond-to($tablet-portrait){
    font-size: 12pt;
    margin-top: 0em;
  }  
  @include respond-to($phone){
    font-size: 12pt;
    width: 71%; 
    margin-left: 2em; 
    margin-top: 0.5em;
    text-align: left;
  }
}
.tit_Lugar{
  color: $blue-bg;
  font-size: 24pt;
  font-weight: 500;
  margin-right: 1em;
  width: 100%;
  @include respond-to($tablet-landscape){
    font-size: 16pt;
    text-align: center;
  }
  @include respond-to($tablet-portrait){
    width: 15em;
    margin-top: 0.1em;
    font-size: 16pt;
    width: 50%;
  }  
  @include respond-to($phone){
    font-size: 18pt;
    margin-left: 0.5em;
  }
}
.tit_nom_event{
  color: $blue-bg;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 1em;
  @include respond-to($tablet-landscape){
    font-size: 9pt;
    text-align: center;
  }
  @include respond-to($tablet-portrait){
    width: 15em;
    font-size: 10pt;
  }  
  @include respond-to($phone){
    font-size: 10pt;
    margin-left: 1em;
  }
}
.btnregistro{
  color: $texto;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;
  @include respond-to($tablet-landscape){
    margin-left: 3em;
    width: 45%;
  }
  @include respond-to($tablet-portrait){
    width: 41%!important;
    text-align: center;
    margin-left: 3em;
  } 
  @include respond-to($phone){
    margin-left: 2em;
  } 
}
.titutabla{
  color: $blue-bg;
  font-size: 14pt;
  font-weight: 400;
  padding-left: 5%;
  width: 58%;
  @include respond-to($tablet-portrait){
    font-size: 10pt; 
  }
  @include respond-to($phone){
    font-size: 12pt;
  }
}
.subtabla{
  color: $blue-bg;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 1em;
  @include respond-to($tablet-portrait){
    font-size: 10pt; 
  }
  @include respond-to($phone){
    font-size: 10pt;
  }
}
.contain{
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  margin-left:2em;
  width: 44%;
}
.otrosevent{
  color: $blue-bg;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 2.5em;
  width: 100%;
  @include respond-to($tablet-landscape){
    padding-left: 0em;
    font-size: 16pt;
    margin-left: 1em;
  }
  @include respond-to($tablet-portrait){
    font-size: 18pt;
    width: 20em;
    margin-top: 0.5em;
  }
  @include respond-to($phone){
    width:15em;
    font-size: 14pt;
    margin-left: -2.5em;
    margin-top:2em ;
  }
}
.imag_even_rel{
  width: 296px;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: 1em;
  @include respond-to($tablet-landscape){
    width: 209px;
    margin-left: 0em !important;
  }
  @include respond-to($tablet-portrait){
    width: 234px !important;
    margin-left: 7em !important;
  }
  @include respond-to($phone){
    margin-left: 0em!important;
    width: 230px !important;
  }
}
.pro-event{
  color: $texto;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-top: 0.5em;
  @include respond-to($tablet-portrait){
    width: 100%;
    margin-left: 6.5em;
    margin-bottom: 1em;
  }
    @include respond-to($phone){
    margin-bottom: 1.5em;
    width: 11em;
    margin-left: 2em;
  }
}
.btn2{
  width: 100%;
  @include respond-to($tablet-portrait){
    margin-left: 0em;
    width: 24em;
  }
}
//FIN INDEX-DETALLE
//************************************************************************************************
//************************************************************************************************
//************************************************************************************************
/* **********************INDEX PREVENTA********************************************************* */
//nav y Footer igual a Index
.ti-preve{
  color: $blue-bg;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 5%;
  width: 100%;
  margin-top: 1em;
  text-align: center;
  margin-bottom: 1em;
  @include respond-to($tablet-portrait){
    font-size: 20pt;
  }

  @include respond-to($phone){
  
  }
}
.inf_event{
  padding-left: 5%;
  color: $blue-bg;
  font-size: 18pt;
  font-weight: 300;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  @include respond-to($tablet-portrait){
    font-size: 15pt;
  }
   @include respond-to($phone){
    font-size: 15pt;
  }
}
.table{
  @include respond-to($tablet-landscape){
    margin-left: 3em;
    width: 85%;
  }
  @include respond-to($tablet-portrait){
    margin-left: 2em;
    width: 85%;
  }
}
.tit-tabl-event{
  color: $blue-bg;
  font-size: 16pt;
  font-weight: 700;
  margin-right: 1em;
  text-align: center;
  width: 50%;
  @include respond-to($tablet-portrait){
    font-size: 12pt;
    margin-top: 0em;
  }  
  @include respond-to($phone){
    font-size: 12pt;
    width: 100%; 
    margin-left: -8em; 
    margin-top: -0.5em;
  }
}
.anchfila{
  @include respond-to($tablet-portrait){
    width: 30em;   
  }
}
.tit_det_tabla{
  color: $blue-bg;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 1em;
  @include respond-to($tablet-landscape){
    font-size: 9pt;
    text-align: center;
  }
  @include respond-to($tablet-portrait){
    width: 15em;
    font-size: 10pt;  
  }  
  @include respond-to($phone){
    font-size: 10pt;
    margin-left: 1em;
  }
}
.mas-menos{
  padding-left: 0.2em;
  padding-right: 0.2em;
  color:$blue-bg ;
  font-size: 18pt;
  font-weight: 300;
  text-decoration:none !important;
  text-align: center;
  @include respond-to($tablet-landscape){
    font-size: 13pt;
   
  }
  @include respond-to($tablet-portrait){
     font-size: 12pt;  
  }  
  @include respond-to($phone){
    font-size: 12pt;
  }
}
.evento1{
  display: flex;
  padding-bottom: 0.5em;
  width: 265px;
  align-items: center;
  margin-left: 9.5em;
  margin-top: 3em;
  @include respond-to($tablet-landscape){
    margin-left: 14.5em;
    margin-top: 2em;
  }
  @include respond-to($tablet-portrait){
    
  }
  @include respond-to($phone){
    margin-top: 0em;
    padding-top: 0em;
    margin-left: 3em;
  }
}


.art_event{
  color: $blue-bg;
  font-size: 24pt;
  font-weight: 500;
  margin-right: 1em;
   margin-top: 1em;
  width:82%;
  text-align: center;
  @include respond-to($tablet-landscape){
    margin-left:7em;
    width:64%;
    font-size: 21pt;
    text-align: left;
    margin-top: 1em;
  }
  @include respond-to($tablet-portrait){
    width: 78%;
    margin-top: 0.1em;
    font-size: 16pt;
    margin-left: 0em;
  }  
  @include respond-to($phone){
    font-size: 18pt;
    margin-left: 0.5em;
    margin-left: 0em;
    width:100%;
    margin-top: 1em;
    text-align: center;
  }
}
.btncancelar{
  width: 8em;
  border-radius: 2em;
  margin-left: -4em;
  @include respond-to($tablet-landscape){
    margin-left: 10em;
  }
  @include respond-to($tablet-portrait){
    margin-left: 8em;
    margin-top: -1em;
  }
  @include respond-to($phone){
    margin-left: 1.5em;
  }
}
.btnconfir{
  width: 10em;
  border-radius: 2em;
  margin-left: 6em;
  @include respond-to($tablet-landscape){
    margin-left:7.5em;
  }
  @include respond-to($phone){
    margin-left: 2em;
    margin-bottom: -1em;
  }
}
//FIN INDEX-PREVENTA
//************************************************************************************************
//************************************************************************************************
//************************************************************************************************
/* **********************INDEX REGISTER********************************************************* */
//nav y Footer igual a Index


.form-registro{
  border-radius:1.25rem ;
  font-size: 12pt;
  font-weight: 400;
  color: $blue-bg;
  width: 99%!important;
  margin-top: 2em;
  border: 2px solid $dark-light-bg;
  height: 3em;
  @include respond-to($tablet-landscape){
    margin-top: 1em;
    width: 85% !important;
    height: 3em;
  }
  @include respond-to($tablet-portrait){
    height: 3em!important;
  }
  @include respond-to($phone){
    width: 84%!important;
    margin-left: 1em;
  }
}
.tit_col_regi {
  float: left;
  width: 25%;
  margin-top: 6px;
  color: $blue-bg;
  font-size: 14pt;
  font-weight: 300!important;
  @include respond-to($tablet-landscape){
    width: 40%;
  }
  @include respond-to($phone){
    font-size: 10pt;
    width: 30%;
    margin-left: 2em;
  }
}
.tit_regis{
  max-width: 13em;
margin-bottom: 4px;
font-weight: 400;
margin-left: 3em;
margin-top: 2em;
@include respond-to($tablet-landscape){
  margin-top: 1.5em;
}
  @include respond-to($tablet-portrait){
    margin-left: -3em;
    width: 10em;
}
}
.col-holder {
   float: left;
  width: 75%;
  margin-top: 9px;
  @include respond-to($tablet-landscape){
    width: 49%;
  }
  @include respond-to($phone){
    width: 74%;
    margin-top: -58px;
    margin-left: 7em;
  }
}
.placeho{
  font-size: 12pt;
  font-weight: 400;
  width: 100%;
  border-radius: 13px;
  border-radius:1.25rem ;
  font-size: 14px;
  color: $blue-bg;
  opacity: 1;
   margin-top: 2em;
  border: 2px solid $dark-light-bg;
  height: 3em;
  @include respond-to($tablet-landscape){
    width: 86%;
    height: 3.5em;
  }
  @include respond-to($phone){
    width: 13em !important;
    margin-left: 1em;
    height: 3.5em;
   }
  }
  .btn-regis{
    text-align: center;
    @include respond-to($phone){
    margin-bottom: -5em;
    }
  }
  .btn_compra{
    width: 11em;
    border-radius: 2em;
    margin-left: 12em;
    margin-top: 1em;
    @include respond-to($tablet-landscape){
      margin-top: 1em;
      width: 12em;
      margin-left: 6.5em;
    }
    @include respond-to($tablet-portrait){
      margin-left: 6em;
     
    }
    @include respond-to($phone){
      margin-left: 0em;
      width: 11em;
    }
    
    }
  
.h4{
  @include respond-to($phone){
  width: 80%;
}
}


//FIN INDEX-REGISTER
//************************************************************************************************
//************************************************************************************************
//************************************************************************************************
/* **********************INDEX TIKET********************************************************* */
//nav y Footer igual a Index

.nom_art{
  color: $blue-bg;
  font-size: 24pt;
  font-weight: 900;
  padding-left: 5%;
  width: 100%;
  margin-top: 1em;
  @include respond-to($tablet-landscape){
    margin-top: 1em;
  }
  @include respond-to($tablet-portrait){
    font-size: 21pt; 
    width:24em;
    margin-top: 0.5em;
  }
  @include respond-to($phone){
    font-size: 18pt; 
    padding-left: 11%;
    width: 13em;
  }
  
}
.imaeven1{
  width: 296px;
  margin-left: 4em;
  margin-right: 1em;
  margin-bottom: 2em;
  @include respond-to($tablet-landscape){
    margin-left: 1em;
    width: 280px;
  }
  @include respond-to($tablet-portrait){
    width: 298px;
    margin-left: 1.5em;
  }  
  @include respond-to($phone){
    width: 275px;
    margin-left: 1.5em;  
    margin-bottom: 8em;
  }
 }
 .tit_tique{
  color: $blue-bg;
  font-size: 24pt;
  font-weight: 500;
  margin-right: 1em;
  width: 100%;
  @include respond-to($tablet-landscape){
    font-size: 16pt;
    text-align: center;
  }
  @include respond-to($tablet-portrait){
    width: 15em;
    margin-top: 0.1em;
    font-size: 16pt;
  }  
  @include respond-to($phone){
    font-size: 18pt;
    margin-left: 0.5em;
  }
}.tik{
  margin-left: 7em;
  width: 100%;
  margin-top: 0em;
  @include respond-to($tablet-landscape){
    margin-left:0em;
    margin-top: 1em;
    width: 76%;
  }
  @include respond-to($tablet-portrait){
    margin-left: 3em;
    width: 100%;
  }
  @include respond-to($phone){
    margin-left: 0em;
    text-align: center;
    width: 100%;
    margin-top: -4em;
  }
  
}
.botton-tik{
  color: $texto;
  font-size: 12pt;
  font-weight: 400;
  text-align: center;
  width: 11em;
  margin-top: 0.5em;
  @include respond-to($tablet-landscape){
    margin-left: -3em;
    margin-top: 0.5em;
    margin-left: -3em;
  }
  @include respond-to($tablet-portrait){
    width:10.5em;
    font-size: 12pt;
    margin-left: 22em;
margin-top: -6em;
  }  
  @include respond-to($phone){
    margin-bottom: 0.5em;
    width: 75%;
    margin-left: 2em;
      }
     
}
hr {
  margin: 2rem 0;
  color: inherit;
  background-color: $blue-bg;
  border: 0;
  opacity: .25;
  size: 6;
  width: 100% !important;
  height: 1em;
  margin-top: -1em;
  margin-left: 0%;

}
.subtiket{
  color: $blue-bg;
  font-size: 21pt;
  font-weight: 700;
  margin-right: 1em;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.evento_tik{
  color: $blue-bg;
  font-size: 14pt;
  font-weight: 400;
  padding-left: 5%;
  width: 58%;
  @include respond-to($tablet-landscape){
    font-size: 12pt;
    
  }
  @include respond-to($tablet-portrait){
    font-size: 10pt; 
  }
  @include respond-to($phone){
    font-size: 12pt;
  }
}
.det_tik{
  color: $blue-bg;
  font-size: 14pt;
  font-weight: 400;
  margin-right: 1em;
  @include respond-to($tablet-landscape){
    font-size: 12pt;
    
  }
  @include respond-to($tablet-portrait){
    width: 15em;
    font-size: 10pt;  
  }  
  @include respond-to($phone){
    font-size: 10pt;
    margin-left: 1em;
  }
}
.cod-qr{
  width: 194px;
  margin-left: 1em;
  margin-top: 0em;

  @include respond-to($tablet-landscape){
    width: 144px;
    margin-top: -20em;
    margin-left: 33em;
  }
  @include respond-to($tablet-portrait){
    width: 118px;
    margin-left: 31em;
    margin-bottom: -16em;
    margin-top: -44em;
  }  
  @include respond-to($phone){
    width: 154px;
    margin-left: 5em;
    margin-bottom: 0em;
    margin-top: 5em!important;
    position: relative;
  }
  }
//FIN INDEX-tik
//************************************************************************************************
//************************************************************************************************
//*********************************************************************************************** */